body {
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formAppeal {
  width: 500px;
  padding: 20px;
  border: 1px solid pink;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  /* align-items: start;
  justify-content: space-around; */
  gap: 10px;

}
.wrap {
  display: flex;
  flex-direction: column;
}
.wrap input,
select,
.wrap textarea {
  width: auto;
  border: 1px solid grey;
  border-radius: 4px;
  height: 30px;
}
.wrap input:hover,
select:hover,
.wrap textarea:hover {
  border: 2px solid pink;
  box-shadow: 0 8px 20px pink;
}
.wrap input:focus-visible,
select:focus-visible,
.wrap textarea:focus-visible {
    outline: none
}

.btnSend{
     height: 35px;
     background-color: pink;
     border:  pink;
     color: white;
     border-radius: 8px;
}

.btnSend:active, .btnSend:hover{
    height: 30px;
    background-color: pink;
    border:  pink;
    color: white;
    border-radius: 8px;
    transform: translateY(2px); 
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
}