* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formAppeal {
  width: 500px;
  padding: 20px;
  border: 1px solid pink;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  /* align-items: start;
  justify-content: space-around; */
  gap: 10px;
}
.wrap {
  display: flex;
  flex-direction: column;
}
.wrap input,
select,
.wrap textarea {
  width: auto;
  border: 1px solid grey;
  border-radius: 4px;
  height: 30px;
}
.wrap input:hover,
select:hover,
.wrap textarea:hover {
  border: 2px solid pink;
  box-shadow: 0 8px 20px pink;
}
.wrap input:focus-visible,
select:focus-visible,
.wrap textarea:focus-visible {
  outline: none;
}

.btnSend {
  height: 35px;
  background-color: pink;
  border: pink;
  color: white;
  border-radius: 8px;
}

.btnSend:active,
.btnSend:hover {
  height: 30px;
  background-color: pink;
  border: pink;
  color: white;
  border-radius: 8px;
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.cards {
  /* background-color: rgb(174, 229, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  padding: 20px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(252, 166, 166, 0.9);
}
header {
  height: 50px;
  box-shadow: 0 2px 6px rgb(252, 166, 166, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logo {
  font-weight: 900;
  font-size: 40px;
  color: rgb(252, 166, 166);
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
li {
  list-style: none;
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: black;
}
footer {
  height: 50px;
  box-shadow: 0 -5px 6px rgb(252, 166, 166, 0.9);
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}
